language: python

matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    #- python: 3.7
    #  env: TOXENV=py37

install:
  - pip install pylint pep8
  - pip install jorgecis/remotsylib3/requirements.txt

before_script:
  - pylint --version

script: 
  - pylint remotsylib3/*.py
  - python setup.py bdist


notifications:
  email:
    on_success: never
    on_failure: change
